.navbar{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-areas:"logo . . . . . setting user";
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.taskalendar-logo{
    grid-area: logo;
    text-align: center;
  
}

.taskalendar-logo h3{
    font-family: "Open Sans",sans-serif;
    
}
.taskalendar-logo h3 a{
    text-decoration: none;
    color: black;
}
.setting{
    grid-area: setting;
    align-self: center;
    justify-self: end;
}

.setting div{
    border-radius: 50%;
}

.setting-ico{
    height: 35px;
    width:  35px;
    border-radius: 50%;
    background-color: #C9DFF1;
}

.user{
    grid-area: user;
    align-self: center;
    justify-self: center;
}

.user-ico{
    height: 42px;
    width:  42px;
    border-radius: 50%;
    background-color: #C9DFF1;
}

